<style>
body{
  margin:0;
  font-family: 'Black Han Sans', sans-serif;
  background: linear-gradient(-45deg, #0b1020, #0d1b2a, #0a0f1c, #111827);
  background-size: 400% 400%;
  animation: gradientMove 20s ease infinite;
  color:white;
}

@keyframes gradientMove {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}

.card{
  transition: all 0.3s ease;
  position: relative;
}

.card:hover{
  transform: scale(1.05) translateY(-8px);
  z-index: 10;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}


</style>
